.save-button--container {
  bottom: $spacer-3;
  position: fixed;
  text-align: right;
  width: 960px;
  z-index: 10;

  @supports (display: sticky) {
    position: sticky;
    width: auto;
  }
}

.save-button--alert {
  text-align: left;
  width: 25%; // 3-ish cols
  margin-left: 75%; // 9-ish cols
  z-index: 10;
}
