.section--help-text {
  border-top: 1px solid $color-gray-light;
  padding-top: $spacer-2;
}

.subsection--title {
  border-top: 1px solid $color-gray-light;
  padding-top: $spacer-2;
  margin-top: $spacer-2;
}

.data-entry-box {
  margin-top: $spacer-5;
}

.custom-hr {
  border: none;
  border-bottom: 1px solid $color-gray-light;
  height: 1px;
}