body {
  font-family: $font-sans;
}

em {
  font-style: italic !important;
}

strong {
  font-weight: $font-bold !important;
}

.font-family--mono {
  font-family: $font-family-mono;
}

.ds-h1.apd--title {
  margin-top: $spacer-2;
}

// These two are to make the activity overview match the spacing in the
// activity schedule subsection. :sigh:
.ds-h4.header-with-top-margin {
  margin-top: 1.5em;
}
.header-with-top-margin + .data-entry-box {
  margin-top: 24px;
}
