_templates/*
bin/*
db/*
docs-build/*
documentation/*
e2e/*
mongodata/*
node_modules/*
owasp/*
packer/*
postman/*
terraform/*
CHANGELOG.md
CONTRIBUTING.md 
LICENSE.md
README.md
StatementOfObjectives.md
audit-ci.json
docker-compose.endpoint-tests.yml
docker-compose.yml
openapi.json
