# dependencies
node_modules

# misc
.DS_Store
.env
.vscode
.nova
.idea
.dccache

npm-debug.log*
pgdata/*
mongodata/*
__files
api/test-data/files
notes.md
schema.sql
Makefile
api/seeds/test/tokens.json

/integrationTests/cypress.env.json
*/cypress.env.json
*cypress.env.json

# use yarn to manage packages, not npm
api/package-lock.json
web/package-lock.json
integrationTests/package-lock.json
docs-build

# Terraform ignores
*.terraform
*.terraform.lock.hcl
*/terraform.tfstate*
*.terraform*
env_vars.sh
