# dependencies
node_modules
api/node_modules
common/node_modules
e2e/node_modules
web/node_modules

# misc
.DS_Store
.dccache
.editorconfig
.env
.idea
.nova
.vscode
.yarn
.yarnrc.yml

Makefile
__files
mongodata/*
notes.md
npm-debug.log*
pgdata/*
schema.sql

api/.env
api/.nyc_output
api/coverage
api/coverage-endpoint
api/coverage-unit
api/dist
api/endpoint-data.json
api/endpoint-tests/endpoint-data.json
api/seeds/test/tokens.json
api/seeds/test/tokens.js
api/test-data/files

common/coverage
common/coverage-endpoint
common/dist

docs-build

e2e/cypress.env.json
e2e/cypress/screenshots/*
e2e/cypress/videos/*
e2e/tokens.json
e2e/.nyc_output
e2e/coverage

web/.jest-test-results.json
web/coverage
web/_dev
web/dist
web/docs-build
web/storybook-static/*

# stryker temp files
web/.stryker-tmp
web/reports
common/.stryker-tmp
common/reports

# use yarn to manage packages, not npm
api/package-lock.json
web/package-lock.json
e2e/package-lock.json
package-lock.json

# Terraform ignores
*.terraform
*.terraform.lock.hcl
*/terraform.tfstate*
*.terraform*
terraform/builds/
terraform/legacy/builds/
*terraform/builds
env_vars.sh
