version: "3.2"
services:
  db:
    image: postgres:10
    environment:
      - POSTGRES_DB=hitech_apd
      - POSTGRES_PASSWORD=cms
      - PGDATA=/pgdata
    volumes:
      - type: bind
        source: ./pgdata
        target: /pgdata
        consistency: delegated
    expose:
      - 5432
    ports:
      - 54325:5432

  web:
    build: ./web
    image: cms-eapd/web:68660de6bd4a20fbc9efe15e12cfe164
    environment:
      - API_URL=http://localhost:8081
    volumes:
      - type: bind
        source: ./web
        target: /app
        consistency: delegated
      - /app/node_modules
    ports:
      - 8080:8001
  
  storybook:
    image: cms-eapd/web:68660de6bd4a20fbc9efe15e12cfe164
    volumes:
      - ./web:/app
      - /app/node_modules
    command: npm run storybook
    ports:
      - 8082:9001

  api:
    build: ./api
    image: cms-eapd/api:82b2ddb685da95663996230ec7c78bba
    depends_on:
      - db
    environment:
      - PORT=8000
      - DATABASE_URL=postgres://postgres:cms@db/hitech_apd
      - NODE_ENV=development
      - SESSION_SECRET=dadccbf1e3bcb63a4d533c3f184eecfc79fd07e76d0584f808078125a83bc40b6413829e5c690d391dd3f6cbca44406cef07b8193cd4db2f03bab355eea9cb2e
    volumes:
      - type: bind
        source: ./api
        target: /app
        consistency: delegated
      - /app/node_modules
    ports:
      - 8081:8000
