@import 'ace-css';

@import 'app/base';

@import 'app/alert';
@import 'app/border';
@import 'app/button';
@import 'app/color';
@import 'app/confirm';
@import 'app/form';
@import 'app/layout';
@import 'app/spacing';
@import 'app/table';
@import 'app/type';

/* third-party things */
@import 'app/editor';
@import 'app/tooltip';

@custom-media --breakpoint-sm (min-width: 40rem);
@custom-media --breakpoint-md (min-width: 52rem);
@custom-media --breakpoint-lg (min-width: 64rem);

:root {
  --base-font-size: 16px;
  --base-font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, roboto, noto, 'segoe ui', arial, sans-serif;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: 0.875rem;
  --h6: 0.75rem;

  --bold-font-weight: bold;

  --space-tiny: 4px;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --border-width: 1px;
  --border-radius: 5px;

  --gray: #ccc;
  --red: #e21c3d;
  --teal: #02bfe7;
}
