.activity--body {
  border-bottom: 1px solid $color-gray-light;
  .ds-c-review.ds-u-border-bottom--2 {
    // Review components add this automatically; override it
    border: none !important;
  }
  .ds-c-button.ds-c-button--transparent.danger {
    color: $color-error-dark;
  }
}

// Override font weight for heading within cms.gov Review Component
.entry-details--review div h4.ds-u-font-weight--bold {
  font-weight: 600 !important;
}

.heading-ffy {
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.heading-ffy span {
   background:#fff;
   padding-right: 10px;
}
