.user-icon {
  color: $color-primary;
  background-color: $color-primary-alt-lightest;
  border-radius: $border-radius;
  display: inline-block;
  padding: $spacer-2;
  margin-top: $spacer-4;
  margin-bottom: $spacer-4;
}

.admin-top-padding {
  padding-top: 100px !important;
}
