@import '@cmsgov/design-system-support/src/settings/index';

.user-icon {
  background-color: $color-primary-alt-lightest;
  display: inline-block;
  padding: $spacer-2;
  margin-top: $spacer-4;
  margin-bottom: $spacer-4;
}
