.eapd-admin-check {
  z-index: 2;
  top: 60.5px;
  box-shadow: -2px 2px 3px 1px #8484848c;
}

.eapd-admin-check a:visited {
  color: $color-primary;
  text-decoration-color: $color-primary;
}

.eapd-admin-check--collapsed {
  height: auto;
  bottom: auto;
}

.eapd-admin-check--collapsed .ds-c-drawer__footer {
  display: none;
}

.eapd-admin-check .ds-c-drawer__header {
  // To support our admin check panel with expand/collapse we
  // are not using the design system provided header.
  display: none;
}

.eapd-admin-check .ds-c-drawer__window {
  overflow: scroll;
}

.eapd-admin-check .ds-c-drawer__body {
  background: #ffffff;
}

.eapd-admin-check .ds-c-drawer__footer {
  padding: 24px 30px;
}

.eapd-admin-check .ds-c-drawer__footer a {
  text-decoration-color: currentColor;
}

.eapd-admin-check .ds-c-accordion__content {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.eapd-admin-check .ds-c-accordion__content ol {
  padding-inline-start: 28px;
}

.eapd-admin-check .ds-c-accordion__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.eapd-admin-check .ds-c-accordion__button[aria-expanded=false] {
  background-color: #fff;
}

.eapd-admin-check .ds-c-accordion__button[aria-expanded=false] {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIEZvbnQgQXdlc29tZSBQcm8gNS4xNS40IGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIC0tPjxwYXRoIGQ9Ik0yMDcuMDI5IDM4MS40NzZMMTIuNjg2IDE4Ny4xMzJjLTkuMzczLTkuMzczLTkuMzczLTI0LjU2OSAwLTMzLjk0MWwyMi42NjctMjIuNjY3YzkuMzU3LTkuMzU3IDI0LjUyMi05LjM3NSAzMy45MDEtLjA0TDIyNCAyODQuNTA1bDE1NC43NDUtMTU0LjAyMWM5LjM3OS05LjMzNSAyNC41NDQtOS4zMTcgMzMuOTAxLjA0bDIyLjY2NyAyMi42NjdjOS4zNzMgOS4zNzMgOS4zNzMgMjQuNTY5IDAgMzMuOTQxTDI0MC45NzEgMzgxLjQ3NmMtOS4zNzMgOS4zNzItMjQuNTY5IDkuMzcyLTMzLjk0MiAweiIvPjwvc3ZnPg=='), linear-gradient(transparent, transparent);
  background-size: 20px;
}

.eapd-admin-check .ds-c-accordion__button[aria-expanded=true] {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIEZvbnQgQXdlc29tZSBQcm8gNS4xNS40IGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIC0tPjxwYXRoIGQ9Ik0yNDAuOTcxIDEzMC41MjRsMTk0LjM0MyAxOTQuMzQzYzkuMzczIDkuMzczIDkuMzczIDI0LjU2OSAwIDMzLjk0MWwtMjIuNjY3IDIyLjY2N2MtOS4zNTcgOS4zNTctMjQuNTIyIDkuMzc1LTMzLjkwMS4wNEwyMjQgMjI3LjQ5NSA2OS4yNTUgMzgxLjUxNmMtOS4zNzkgOS4zMzUtMjQuNTQ0IDkuMzE3LTMzLjkwMS0uMDRsLTIyLjY2Ny0yMi42NjdjLTkuMzczLTkuMzczLTkuMzczLTI0LjU2OSAwLTMzLjk0MUwyMDcuMDMgMTMwLjUyNWM5LjM3Mi05LjM3MyAyNC41NjgtOS4zNzMgMzMuOTQxLS4wMDF6Ii8+PC9zdmc+'), linear-gradient(transparent, transparent);
  background-size: 20px;
}

.eapd-admin-check .eapd-admin-check__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 24px 16px;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 0;
}

.eapd-admin-check__divider {
  border: none;
  border-bottom: 3px solid $color-primary;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eapd-admin-mini {
  animation: FadeIn 0.3s ease-in-out both;
  margin: -16px;
  padding: 0px 16px 16px 16px;
  background-color: $color-gray-lightest;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#complete-check {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
  animation: firstAnimation 1s linear forwards 1;
}
@keyframes firstAnimation {
  to {
    stroke-dashoffset: 0;
  }
}
