.card--container {
  background-color: $color-gray-lightest;
  padding-top: $spacer-7;
  padding-bottom: $spacer-7;
  min-height: 70vh; // 100 is too much, but no min-height puts a white gap under the gray background
}

.card {
  /* the white margins around the card's content */
  .ds-l-col--1:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $color-white;
  }

  .ds-l-col--1:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $color-white;
  }

  /* the card's content */
  .ds-l-lg-col--6 {
    background-color: $color-white;
    padding-top: $spacer-5;
    padding-bottom: $spacer-5;
  }
}

.card--footer {
  border-top: 1px solid $border-color !important;
  margin-top: $spacer-4;
}

.eapd-card {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.tempMessage {
  display: flex;
  flex-direction: row;
}
