@import '@cmsgov/design-system-support/src/settings/index';

footer {
  background-color: $color-gray-lightest;
  padding-top: $spacer-6;
  margin-top: $spacer-6;

  .footer--logo-container {
    display: flex;
    align-items: center;
  }

  .hhs-logo {
    float: left;
    height: 100px;
    margin-right: $spacer-4;
  }

  .footer--banner {
    padding: $spacer-1 0;
    margin-top: $spacer-6;
    background-color: $color-primary-darkest;
    color: $color-white;
    p {
      margin-bottom: 0;
    }
    a {
      color: $color-white;
    }
  }
}
