footer {
  background-color: $color-gray-lightest;
  border-top: solid 2px $color-gray-light;
  padding-top: $spacer-6;
  margin-top: $spacer-6;

  img {
    max-width: 100%;
  }

  .footer--banner {
    padding: $spacer-1 0;
    margin-top: $spacer-6;
    background-color: $color-primary-darkest;
    color: $color-white;
    p {
      margin-bottom: 0;
    }
    a {
      color: $color-white;
    }
  }
}
