@import '@cmsgov/design-system-support/src/settings/index';
@import './variables';

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: $input-max-width;
}

/* only legends that are first-level descendents of sections should inherit this style */
section > fieldset {
  legend {
    margin-top: $spacer-3;
    font-size: $h4-font-size;
    float: left;
    width: 100%;
  }

  div label.ds-c-label {
    margin-top: 0;
  }
}

div.form--with-reviews {
  border-bottom: 2px solid $border-color;
  margin-bottom: nth($spacers, 3);
  margin-top: nth($spacers, 3);
  padding-bottom: nth($spacers, 3);
}

/* for forms that display computed values, but those computed values should
be aligned vertically with their input field comrades */
div.form--computed-value__input-aligned {
  margin: ($spacer-half + $input-padding) 0;
}

/* Rich text editor border */
.public-DraftEditor-content {
  border: 2px solid $color-base;
  border-radius: $border-radius;
}

.rdw-editor-toolbar {
  border-radius: $border-radius;
}

/* dolla dolla inputs */
.table--input-holder {
  padding-bottom: 0;
}

.table--input__number {
  font-family: $font-family-mono;
  font-size: inherit;
  text-align: right;
  border: 1px solid $color-gray-lighter;
  border-radius: $border-radius;
  padding: $spacer-1;
  width: 100%;
}

.input {
  background-color: greenyellow;
}