@import '@cmsgov/design-system-support/src/settings/index';
@import './variables';

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: $input-max-width;
}

/* only legends that are first-level descendents of sections should inherit this style */
section > fieldset {
  legend {
    font-size: $h4-font-size;
    font-weight: $font-bold;
    margin-top: $spacer-3;
    margin-bottom: $spacer-1;
    padding-left: 0;
    float: left;
    width: 100%;
  }

  div label.ds-c-label {
    margin-top: 0;
  }
}

.data-entry-box .ds-c-label {
  margin-top: 0;
}

.data-entry-box .ds-c-label--full-width {
  max-width: initial;
}

div.form--with-reviews {
  border-bottom: 2px solid $border-color;
  margin-bottom: nth($spacers, 3);
  margin-top: nth($spacers, 3);
  padding-bottom: nth($spacers, 3);
}

// Above is a previous class that was used by the APD key personnel form/review
// section. Properties below are derived from what was kind of scattered around
// the activity subsection form/review lists, plus some convenience things to
// account for the "Add new..." and "Done" buttons being placed automatically
// by the wrapper.
//
// .form--with-reviews isn't being used anywhere at the moment, but preserved
// here temporarily until reviews, to make it easier to decide which set of
// styles we should keep.

.form-and-review-list {
  border-bottom: 2px solid $border-color;
  padding-bottom: nth($spacers, 3);

  > button {
    margin-top: nth($spacers, 3);
  }
}

.form-and-review-list--item__expanded {
  border-bottom: 2px solid $border-color;
  padding-bottom: nth($spacers, 4);
  padding-top: nth($spacers, 3);

  button:last-child {
    margin-top: nth($spacers, 5);
  }
}

/* for forms that display computed values, but those computed values should
be aligned vertically with their input field comrades */
div.form--computed-value__input-aligned {
  margin: ($spacer-half + $input-padding) 0;
}

/* Rich text editor border */
.public-DraftEditor-content {
  border: 2px solid $color-base;
  border-radius: $border-radius;
}

.rdw-editor-toolbar {
  border-radius: $border-radius;
}

/* dolla dolla inputs */
.budget-table--input-holder {
  padding-bottom: 0;
}

.budget-table--input__number {
  font-family: $font-family-mono;
  font-size: inherit;
  text-align: right;
  border: 1px solid $color-gray-lighter;
  border-radius: $border-radius;
  padding: $spacer-1;
  width: 100%;
}

.budget-table--input__percent {
  position: relative;
}

.budget-table--input__percent::before {
  content: '%';
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 0;
  position: absolute;
  right: 8px;
  top: 4px;
}

.budget-table--input__percent .budget-table--input__number {
  padding-right: $spacer-1 + $spacer-1 + $spacer-half;
}

.budget-table--number {
  font-family: $font-family-mono;
  font-size: inherit;
  text-align: right;
}

.budget-table--subtotal,
.budget-table--total,
.budget-table--sum {
  font-weight: $font-bold;
}
