header:not(.ds-c-dialog__header) {
  background-color: $color-primary-darkest;
  color: $color-white;
  padding: $spacer-2 0;
  letter-spacing: 0.6px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;

  a,
  a:visited,
  button,
  .ds-c-button {
    color: $color-white;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    text-align: left;
    border-radius: 0;

    &:hover,
    &:active,
    &:focus {
      color: $color-white;
    }
  }
}

.site-title {
  height: 28.4px; /* explicityly set height to match last saved and email in header */
  svg {
    margin-right: $spacer-1;
  }
}

.nav--dropdown {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  float: right;
  text-align: right;
  position: relative; /* needed for submenu absolute positioning */
  min-width: 250px; /* don't render submenu oddly if email is very short */
  &[aria-expanded='true'] {
    .nav--dropdown__trigger {
      border-bottom: 2px solid $color-primary;
    }
    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }
  .fa-chevron-down {
    transition-timing-function: ease-in;
    transition: 0.2s;
  }

  li {
    list-style: none;
  }

  ul {
    padding-left: 0;
    a,
    button {
      font-weight: normal;
    }
  }
}

.site-title,
.nav--dropdown > li {
  > a,
  > button {
    padding-bottom: $spacer-1;
    border-bottom: 2px solid $color-primary-darkest; /* block elements jump when hovered otherwise */
    &:hover {
      border-bottom: 2px solid $color-primary;
    }
  }
}

.nav--dropdown__action {
  svg {
    margin-right: 4px; /* half of $spacer-1 */
  }
}

.nav--dropdown__trigger {
  svg {
    margin-left: $spacer-2;
  }
}

.nav--submenu {
  display: block;
  position: absolute;
  right: 0;
  margin-top: $spacer-1;
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;
  background-color: $color-primary-darkest;
  z-index: 1;

  &[aria-hidden='true'] {
    display: none;
  }

  li {
    a,
    button {
      display: block;
      width: 100%;
      padding: $spacer-1 $spacer-2;

      &:hover {
        background-color: $color-primary;
      }
    }
  }
}

#apd-title-container.flex-align-row {
  display: flex;
  flex-direction: row;

  #title-edit-link {
    margin-left: 10px;
  }
}

.apd--title {
  border: 1px solid $color-gray-light;
  cursor: pointer;
  padding: 0 15px;
  min-width: 500px !important;
}

.apd--title:hover {
  cursor: pointer;
}

#title-edit-link {
  padding-left: 5px;
  padding-right: 5px;
}