@import '@cmsgov/design-system-support/src/settings/index';

/* we may be able to just target the header element without a class in future iterations. */
.header__slim {
  background-color: $color-primary-alt-darkest;
  padding: $spacer-1 0;
  .site-title {
    display: block;
    margin: $spacer-1 0;
    text-decoration: none;
    font-weight: bold;
    color: $color-white;
    letter-spacing: 1.6px;
  }

  .action--logout {
    float: right;
    margin-top: $spacer-1;
    color: $color-white;
  }
}
