.link-button,
.link-button:visited {
  background-color: #0071bc;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  padding: 8px 24px;
  text-decoration: none;
}

.link-button:hover {
  background-color: #045d83;
}
