.login-card {
	margin-top: 4em;
	margin-bottom: 4em;
	background-color: $color-white;
	padding: 50px;
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
}

.login-card__error {
	border-left: 16px solid $color-error;	
}

.login-card__auth_app {
	max-width: 50rem;
}

.login-card img {
	margin-left: -11px;
}

.remove-item-button {
	background-color: transparent;
	border: none;
	z-index: 1;
}

.remove-item-button svg {
	z-index: 0;
}