.login-card {
	border-left: 16px solid $color-error;
	margin-top: 4em;
	margin-bottom: 4em;
	background-color: $color-white;
	padding: 35px;
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
}

.login-card img {
	margin-left: -11px;
}