.ds-l-container {
  width: 100%;
}

.ds-c-review__heading,
.ds-c-label.ds-h4 {
  font-size: $h4-font-size;
}

#activity-entry-page .ds-u-clearfix {
  &::before,
  &::after {
    // override default clearfix
    display: none;
    content: normal;
  }
}
