hr.section-rule {
  border: 2px solid black !important;
  margin-top: 2em;
  margin-bottom: -1em;
}

hr.subsection-rule {
  margin-top: 2em;
  margin-bottom: -1em;
}

.viewonly-activity-header {
  border-top: 1px solid black;
  small {
    font-weight: lighter;
    text-transform: uppercase;
  }
}

@media print {
  body {
    background-color: white;
  }

  .visibility--screen {
    display: none;
  }

  .site,
  .ds-l-row {
    display: block;
  }
  .ds-l-col--9 {
    flex: none;
  }
  section {
    border: 0;
  }

  table,
  figure,
  textarea,
  fieldset {
    page-break-inside: avoid;
  }

  header,
  .ds-l-col--3,
  .site-sidebar,
  .btn-collapse svg,
  .alert,
  .rdw-editor-toolbar,
  .ds-c-choice:not(:checked) + label {
    display: none;
  }

  .ds-l-container,
  .ds-l-col--9 {
    width: 100% !important;
    min-width: 100% !important;
  }

  fieldset,
  .ds-c-label {
    width: 100% !important;
    max-width: 100%;
  }

  .accordian {
    border: none;
    border-radius: 0;
    box-shadow: none;

    .btn-collapse {
      border-bottom: 1px solid #eee;
      border-radius: 0;
      display: block !important;
    }

    .d-none {
      // force accordians to open
      display: block !important;
    }
  }

  .sticky-header,
  .has-sticky-header .sticky-nested {
    // unsticky headers
    position: inherit;
  }

  #start-main-content {
    margin-left: 0;
    margin-top: 0 !important;
  }

  .site-main,
  .ds-l-container,
  .accordian > .btn.sm-px3,
  .has-sticky-header {
    padding-left: 0;
    padding-right: 0;
  }

  table input {
    padding: 0 !important;
    border: none !important;
  }

  .numbered-section > h2:before {
    background-color: transparent !important;
    font-weight: bold !important;
    color: black !important;
    border: 1px solid black;
  }

  .form-and-review-list,
  div.form--with-reviews {
    border-bottom: none;
  }

  .public-DraftEditor-content {
    border: 0;
  }

  .rte-textarea-l .public-DraftEditor-content,
  .textarea-l {
    min-height: 0;
  }

  .ds-c-choice:checked + label {
    padding-left: 0 !important;
    &::before {
      display: none;
    }
  }
}

@media screen {
  .visibility--print {
    display: none;
  }
}
