.button-description {
  padding-bottom: 16px;
}

.pre-button-section-break {
  margin: $spacer-4 0;
  padding-top: $spacer-4;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  overflow: hidden;
  border-top: 2px solid $color-gray-lighter;
}
