@import '@cmsgov/design-system-support/src/settings/index';

.pre-button-section-break {
  margin: $spacer-4 0;
  padding-top: $spacer-4;
  width: 100%;
  overflow: hidden;
  border-top: 2px solid $color-gray-lighter;
}
