@import '@cmsgov/design-system-support/src/settings/index';

.pre-button-section-break {
  margin: 32px 0px;
  padding-top: 32px;
  width: 100%;
  overflow: hidden;
  border-top: 2px solid $color-gray-lighter;
}

.next-prev-button-left {
  float: left;
  overflow: hidden;
}

.next-prev-button-right {
  float: right;
  overflow: hidden;
}

.next-button {
  float: right;
}

.next-section {
  clear: right;
  float: right;
}

.next-prev-section {
  margin-top: 8px;
}

.hidden-button {
  display: none;
}
