@import '@cmsgov/design-system-support/src/settings/index';

.section ol li {
  margin-bottom: $spacer-2;
}

.section--help-text {
  border-bottom: 1px solid $color-gray-light;
  padding-bottom: $spacer-2;
}

.subsection--title {
  border-top: 1px solid $color-gray-light;
  padding-top: $spacer-2;
}

.data-entry-box {
  margin-top: $spacer-5;
}
