@import '@cmsgov/design-system-support/src/settings/index';

.budget-table {
  font-size: 12px;
  &.budget-table--totals {
    width: 50%;
  }
  + .budget-table {
    margin-top: $spacer-2;
  }

  th {
    font-weight: $font-semibold;
  }

  th, tr {
    &.budget-table--total,
    &.budget-table--subtotal,
    &.budget-table--sum {
      font-weight: $font-bold;
      th, td {
        font-weight: $font-bold;
      }
    }
  }

  thead {
    th {
      background-color: $color-gray-lighter;
      white-space: pre-line;
      /* used for highlights in a column */
      &.budget-table--col__highlight {
        background-color: $color-warn-lightest;
      }
    }
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;
  }

  tbody {
    th {
      border-right: solid 2px $color-gray-lighter;
    }
    th, td {
      border-top: 1px dotted $color-gray-lighter;
      border-bottom: 1px dotted $color-gray-lighter;
      vertical-align: middle; /* Ace.css override */

      /* used for highlights in a column */
      &.budget-table--col__highlight {
        background-color: $color-warn-lightest;
      }
    }
    /* used on a tr to highlight a whole row */
    .budget-table--row__highlight {
      td, th {
        background-color: $color-warn-lightest;
      }
    }
  }
}

/* override our default rule that causes tables to be 100% of parent container */
.table-fit-contents {
  width: auto;
}
/* use on tables in sections where some tables are small, but some aren't so we can standardize width */
.budget-table--col-header__fixed-width {
  width: 175px;
}