@import '@cmsgov/design-system-support/src/settings/index';

.table-cms {
  font-size: 12px;
  th {
    background-color: #DAE9F7;
    font-weight: normal;
  }
  td {
    background-color: #F3F8FC;
  }
  th,
  td {
    border-left: 4px solid $color-white;
    border-top: 4px solid $color-white;
    &:first-child {
      border-left: none;
    }
  }
  &.centered-headers th {
    text-align: center;
  }
  + .table-cms:not(.table-frozen-data){
    margin-top: $spacer-2;
  }
}
