@import '@cmsgov/design-system-support/src/settings/index';
@import './variables';

em {
  font-style: italic !important;
}

.font-family--mono {
  font-family: $font-family-mono;
}

h1.apd--title {
  margin-left: 72px;
}

strong {
  font-weight: $font-bold !important;
}
