.cursor-pointer {
  cursor: pointer;
}

.list-style-none {
  list-style: none;
}

.hidden-display {
  display: none;
}

.border-left--primary {
  border-left: 3.74px solid #0071bc;
}

.position-absolute {
  position: absolute;
}

.ds-c-drawer {
  z-index: 15;
}
