.cursor-pointer {
  cursor: pointer;
}

.list-style-none {
  list-style: none;
}

.hidden-display {
  display: none;
}

.read-only-summary-list {
  li {
    margin: 15px 0;
  }
}

.other-summary {
  display: flex;
  flex-direction: row;
}

.border-left--primary {
  border-left: 3.74px solid #0071bc;
}

.position-absolute {
  position: absolute;
}
