span.Resizer.horizontal {
  display: none;
}
div.Pane.horizontal.Pane2 {
  display: none !important;
}

table.props {
  th {
    background-color: lightblue;
  }

  tr:nth-child(odd) td {
    background-color: white;
  }

  td {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    &:first-child {
      border-left: 0;
    }
  }
}
