.alert {
  background-color: #eee;
  border-radius: 3px;
  padding-top: 0.9rem;
  padding-left: 1.95rem;
}

.alert::before {
  width: 0;
  height: 0;
  content: "";
  display: block;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: translate(-2.4rem, -.95rem) rotate(-45deg);
}

.alert-error {
  background-color: #f9dede;
}

.alert-info {
  background-color: var(--blue-light);
}

.alert-info::before {
  border-bottom: 12px solid var(--blue);

}

.alert-help {
  background-color: var(--yellow-light);
}

.alert-success {
  background-color: #e7f4e4;
}
