.alert {
  background-color: #eee;
  border-left: 0.5rem solid #ccc;
  border-radius: 3px;
}

.alert-error {
  background-color: #f9dede;
  border-color: #e31c3d;
}

.alert-info {
  background-color: #e1f3f8;
  border-color: #02bfe7;
}

.alert-help {
  background-color: #fdfaef;
  border-color: #fdb81e;
}

.alert-success {
  background-color: #e7f4e4;
  border-color: #2e8540;
}
