.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-grey {
  border-color: var(--grey);
}

.border-bottom-darken-1 {
  border-bottom-color: rgba(0, 0, 0, 0.0625);
}
