/*
  additional colors not represented by
  http://basscss.com/ace/#colors
*/

.bg-teal-light {
  background-color: #e1f3f8;
}

.bg-light-blue {
  background-color: #e8f1fb;
}

.bg-light-yellow {
  background-color: #fffce3;
}

.bg-light-green {
  background-color: #f9fff1;
}

.bg-light-gray {
  background-color: #ddd;
}
