/*
  additional colors not represented by
  http://basscss.com/ace/#colors
*/

.bg-teal-light {
  background-color: #e1f3f8;
}

.bg-blue-light {
  background-color: #e8f1fb;
}

.bg-yellow-light {
  background-color: #fffce3;
}

.bg-green-light {
  background-color: #f9fff1;
}

.bg-gray-light {
  background-color: #eee;
}

.bg-gray-lightest {
  background-color: #f5f5f5;
}
