/*
  app colors
*/

.bg-grey {
  background-color: var(--grey);
}

.bg-grey-light {
  background-color: var(--grey-light);
}

/*
  additional colors not represented by
  http://basscss.com/ace/#colors

  TODO [bren]: remove old colorz;
*/

.bg-aqua {
  background-color: #67b6f4;
}

.border-aqua {
  border-color: #67b6f4;
}

.bg-teal-light {
  background-color: #e1f3f8;
}

.bg-blue-light {
  background-color: #e8f1fb;
}

.bg-aqua-light {
  background-color: #e4f7ff;
}

.bg-navy-light {
  background-color: #bcdcff;
}

.bg-yellow-light {
  background-color: #fffce3;
}

.bg-green-light {
  background-color: #f9fff1;
}

.bg-gray-light {
  background-color: #ddd;
}

.bg-gray-lightest {
  background-color: #f5f5f5;
}
