@import 'react-dates/lib/css/_datepicker.css';

.DateRangePickerInput__withBorder,
.DateInput,
.DateInput_input {
  border-radius: var(--border-radius);
}

.DateInput {
  width: 110px;
}

.DateInput_input {
  border: 0;
  font-size: 0.875rem;
  font-weight: inherit;
  height: 2.5rem;
  line-height: inherit;
  text-align: center;
}

.DateInput_input__focused {
  background-color: #eee;
  border: 0;
}

.DateRangePickerInput_arrow {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1;
}

.DateRangePickerInput_arrow_svg {
  width: 20px;
  height: 20px;
}
