@import 'react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

/* overrides */

.rdw-editor-toolbar {
  background-color: #f5f5f5;
  border: 0;
  border-radius: var(--border-radius);

  & * {
    box-sizing: content-box;
  }
}

.rdw-dropdown-wrapper,
.rdw-option-wrapper {
  border: 1px solid #eee;
  border-radius: var(--border-radius);
}

.rdw-emoji-modal {
  height: auto;
}

.rdw-editor-main {
  overflow: inherit;
}

.DraftEditor-root,
.public-DraftEditor-content {
  min-height: 240px;
}

.public-DraftEditor-content {
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  overflow: auto;
  padding: 0.5rem;
}

.public-DraftEditor-content:focus {
  outline: 0;
  border-color: #0074d9;
  box-shadow: 0 0 0 2px rgba(0, 116, 217, 0.5);
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 0.5rem 0;
}

.public-DraftStyleDefault-block {
  line-height: 1.25;
  margin: 0;
}

.public-DraftStyleDefault-unorderedListItem {
  line-height: 1;
}

.rdw-dropdown-wrapper a {
  color: inherit;
}

.rdw-option-active {
  background-color: #eee;
  border-color: #ddd;
}
