.input,
.select,
.textarea {
  border-radius: var(--border-radius);
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: 0;
  border-color: #0074d9;
  box-shadow: 0 0 0 2px rgba(0, 116, 217, 0.5);
}

.input:disabled,
.select:disabled,
.textarea:disabled {
  background-color: rgba(0, 0, 0, 0.125);
  opacity: 0.5;
}

.has-error input {
  border-color: var(--red);

  &:focus {
    border-color: var(--red);
    box-shadow: 0 0 0 2px color(var(--red) a(50%));
    outline: none;
  }
}

.input-condensed,
.select-condensed {
  height: 2rem;
}

.rdw-editor-main .DraftEditor-root {
  min-height: initial; /* override of plugin */
}

/* add resizing capability to divs of react-draft-wysiwyg plugin */
.public-DraftEditor-content {
  resize: vertical;
}

/* rte-* classes are for react-draft-wysiwyg plugin */
.textarea-xl,
.rte-textarea-xl .public-DraftEditor-content {
  min-height: 37.5rem; /* 600px; this feels too big */
}

.textarea-l,
.rte-textarea-l .public-DraftEditor-content {
  min-height: 25rem; /* 400px; roughly equal to 14 rows */
}

.textarea-m,
.rte-textarea-m .public-DraftEditor-content {
  min-height: 12.5rem; /* 200px; roughly equal to 7 rows */
}

.textarea-sm,
.rte-textarea-sm .public-DraftEditor-content {
  min-height: 6.25rem; /* 100px; roughly equal to 3 rows */
}
