.sb-item:hover,
.sb-item-active {
  font-weight: var(--bold-font-weight);
}

.sb-item-active:before {
  border-left: 3px solid var(--yellow);
  content: ' ';
  height: 1.25rem;
  margin-top: 0.375rem;
  position: absolute;
  left: -0.5rem;
}

.sb-item a {
  line-height: 2;
}
