.table th,
.table td {
  border-top: 1px solid #e7e7e7;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid rgba(0, 0, 0, 0.0625);
}

.table-fixed {
  table-layout: fixed;
}

.table-condensed th,
.table-condensed td {
  padding: 0.25rem 0.375rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f8f8;
}

.table-budget {
  border: 3px solid var(--black);
}

.table-budget-summary > thead > tr > th:nth-child(3n + 1),
.table-budget-summary > tbody > tr > td:nth-child(3n + 1) {
  border-right: 3px solid var(--black);
}
