.mono {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.sans {
  font-family: var(--base-font-family);
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.light {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.text-s {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

/* this is the base font size for body copy */
.text-med {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.text-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}
