.mono {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.sans {
  font-family: var(--base-font-family);
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.light {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}
